<!-- <p>coupon-id works!</p> -->

<div>
    <h3><a routerLink="/company/view-coupon">Back to List</a></h3>
    <h3>Id: {{coupon.id}}</h3>
    <h3>Title: {{coupon.title}}</h3>
    <h3>StartDate: {{coupon.startDate}}</h3>
    <h3>EndDate: {{coupon.endDate}}</h3>
    <h3>Amount: {{coupon.amount}}</h3>
    <h3>Type: {{coupon.type}}</h3>
    <h3>Message: {{coupon.message}}</h3>
    <h3>Price: {{coupon.price}}</h3>
    <img src="/assets/images/coupons/{{coupon.title}}.jpg">
    <h3><a routerLink="/company/view-coupon">Back to List</a></h3>
</div>