<!-- <p>delete-company works!</p> -->

<div>
    <form #formInfo="ngForm">
        <h3>Enter Company ID to delete the Company</h3>
        
        <input #idInfo="ngModel" required type="number" placeholder="Id" [(ngModel)]="company.id" name="id">
        <span *ngIf="idInfo.invalid && idInfo.touched">Missing Id</span>
        <br><br>

        <button [disabled]="!formInfo.form.valid" (click)="deleteCompany()">Delete Company</button>
        <br><br>
        <button [disabled]="!formInfo.form.valid" (click)="cancelDelete()">Cancel! Back to Admin</button>
    </form>
    <br><br><br><br><br><br><br><br><br><br>
    <h3><a routerLink="/admin">Close</a></h3>
</div>