<!-- <p>add-customer works!</p> -->

<div>
    <form #formInfo="ngForm">
        <h3>Enter Customer details</h3>
        
        <input #idInfo="ngModel" required min="0" step="1" type="number" placeholder="Id" [(ngModel)]="customer.id" name="id" oninput="validity.valid||(value='');">
        <span *ngIf="idInfo.errors?.required && idInfo.touched">Missing Id</span>
        <!-- <span *ngIf="idInfo.errors?.pattern && idInfo.touched">Please, use digits only!</span> -->
        <br><br>

        <input #nameInfo="ngModel" required pattern="^[A-Z].*[a-z]$" type="text" placeholder="Name" [(ngModel)]="customer.name" name="name">
        <span *ngIf="nameInfo.errors?.required && nameInfo.touched">Missing Name</span>
        <span *ngIf="nameInfo.errors?.pattern && nameInfo.touched">Name must start with a capital letter and contain at least two letters!</span>
        <br><br>

        <input #passwordInfo="ngModel" minlength="1" required type="password" placeholder="Password" [(ngModel)]="customer.password" name="password">
        <span *ngIf="passwordInfo.invalid && passwordInfo.touched">Missing Password</span>
        <br><br>

        <button [disabled]="!formInfo.form.valid" (click)="addCustomer()">Add Customer</button>
        <br><br>
        <button type="reset" class="button">Reset</button>
    </form>
    <br><br><br><br><br>
    <h3><a routerLink="/admin">Close</a></h3>
</div>