<!-- <p>view-all-income works!</p> -->

<div class="mainDiv">
        <img *ngIf="!incomes" src="/assets/images/loadingGifTransparant1.gif">
        <br>
        <button (click)="closeList()">^ Close List ^</button>
    <div *ngIf="incomes">
            <p>Filter by Client Name:</p>
            <input type='text' [(ngModel)] = 'listFilter'>
            <h4>Filtered by: {{listFilter}}</h4>
        <table>
            <tr>
                <th>Income ID</th>
                <th>Client ID</th>
                <th>Client Name</th>
                <th>Operation Date</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
            <tr *ngFor="let i of incomes | incomeFilter: listFilter">
                <td>{{i.incomeId}}</td>
                <td>
                    <a routerLink="../view-all-income/income-details-id/{{i.incomeId}}" routerLinkActive="active-link">
                        {{i.clientId}}
                    </a>
                </td>
                <td>{{i.clientName}}</td>
                <td>{{i.operationDate}}</td>
                <td>{{i.description}}</td>
                <td>{{i.amount}}</td>
            </tr>
        </table>
    </div>
</div>
<router-outlet></router-outlet>