table {
    margin: 30px auto;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: lightgreen;
}

tr:nth-child(even) {
    background-color: lightyellow;
}

tr:nth-child(odd) {
    background-color: lemonchiffon;
}

/* div {
    height: 100%;
    overflow: auto;
} */

.mainDiv{
    margin-top: 20px;
    border: 1px solid black;
    background-color: lightsteelblue;
    height: 70%;
    position: absolute;
    overflow: auto;
    top: 15%;
    left: 35%;
    width: 55%;
}

a {
    font-size: large;
}

.active-link {
    color: indigo;
    font-weight: bold;
}

button {
    position: fixed;
    /* right: 17%; */
    left: 56%;
    bottom: 8%;
    font-size: large;
    background-color: lightsteelblue;
}

/* h3 {
    position: fixed;
    right: 17%;
    bottom: 5%;
    /* left: 37%; 
    font-size: large;
} */