<!-- <p>login works!</p> -->

<div class="login">
    <form class="wow animated zoomIn" action="login" method="post"> <!-- (ngSubmit)="onSubmit()" #f="ngForm" action="login" method="post"-->
        <p>Please Enter Your Details</p>
      <!-- <label class="wow">Username: </label><br> -->
      <input type="text" name="userName" placeholder="Username" [(ngModel)]="credentials.userName">
      <br><br>
    
      <!-- <label class="wow">Password: </label><br> -->
      <input type="password" name="password" placeholder="Password" [(ngModel)]="credentials.password">
      <br><br>
    
      <label class="wow">Select Your Client Type: </label><br>
      <select name="type" [(ngModel)]="credentials.type">
        <option selected disabled>Select Your Type</option>
        <option value="ADMIN">ADMIN</option>
        <option value="COMPANY">COMPANY</option>
        <option value="CUSTOMER">CUSTOMER</option>
      </select>
      <br><br><br><br><br><br><br><br>
    
      <button (click)="login()" class="buttonLogin">Login</button>&nbsp; &nbsp;
      <!-- <button type="submit" class="buttonLogin">Login</button>&nbsp; &nbsp; -->
      <button type="reset" class="button">Reset</button><br><br><br>
    
    </form>
    </div>

    <!-- <router-outlet></router-outlet> -->
    