<!-- <p>view-income-by-customer works!</p> -->

<div>
    <form #formInfo="ngForm">
        <h3>Enter Customer ID to view Income by this Customer</h3>
    
        <input #idInfo="ngModel" required min="0" step="1" type="number" placeholder="Customer ID" [(ngModel)]="income.clientId" name="clientId">
        <span *ngIf="idInfo.errors?.required && idInfo.touched">Missing Id</span>
        <!-- <span *ngIf="idInfo.errors?.pattern && idInfo.touched">Please, use digits only!</span> -->
        <br><br>

        <button [disabled]="!formInfo.form.valid" (click)="viewIncomeByCustomer(this.income.clientId)">View Income By Customer ID</button>
        <br><br>
        <button [disabled]="!formInfo.form.valid" type="reset" class="button">Reset ID</button>
    </form>
    
        <button class="close" (click)="closeList()">^ Close List ^</button>

        <!-- <img *ngIf="!incomes" src="/assets/images/loadingGifTransparant1.gif"> -->

        <table *ngIf="incomes">
            <tr>
                <th>Income ID</th>
                <th>Client ID</th>
                <th>Client Name</th>
                <th>Operation Date</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
            <tr *ngFor="let income of incomes">
                <td>{{income.incomeId}}</td>
                <td>{{income.clientId}}</td>
                <td>{{income.clientName}}</td>
                <td>{{income.operationDate}}</td>
                <td>{{income.description}}</td>
                <td>{{income.amount}}</td>
            </tr>
        </table>
</div>