<!-- <p>view-company works!</p> -->

<div>
    <form #formInfo="ngForm">
        Enter Company ID to view the Company
        <br>
        <input #idInfo="ngModel" required type="number" placeholder="Id" [(ngModel)]="company.id" name="id">
        <span *ngIf="idInfo.invalid && idInfo.touched">Missing Id</span>
        <br><br>

        <button [disabled]="!formInfo.form.valid" (click)="getCompany()">View Company</button>
    </form>
    <p class="details">
        <h3>Id: {{company.id}}</h3>
        <h3>Name: {{company.name}}</h3>
        <h3>Password: {{company.password}}</h3>
        <h3>Email: {{company.email}}</h3>
        <!-- <h3><a routerLink="/admin">Back to Admin</a></h3> -->
</div>