<!-- <p>add-coupon works!</p> -->

<div>
    <form #formInfo="ngForm">
        <h3>Enter Coupon Details</h3>
        <!-- <input #idInfo="ngModel" required min="0" step="1" type="number" placeholder="Id" [(ngModel)]="coupon.id" name="id" oninput="validity.valid||(value='');">
        <span *ngIf="idInfo.errors?.required && idInfo.touched">Missing Id</span> -->
        <!-- <span *ngIf="idInfo.errors?.pattern && idInfo.touched">Please, use digits only!</span> -->
        <!-- <br><br> -->
    
        <input #titleInfo="ngModel" required pattern="^[A-Z].*$" type="text" placeholder="Title" [(ngModel)]="coupon.title" name="title">
        <span *ngIf="titleInfo.errors?.required && titleInfo.touched">Missing Title</span>
        <span *ngIf="titleInfo.errors?.pattern && titleInfo.touched">Title must start with a capital letter!</span>
        <br><br>
        
        Format: "yyyy-MM-dd"<br>
        <input #startDateInfo="ngModel" required pattern="^(\d{1,4})-(\d{1,2})-(\d{1,2})$" type="text" placeholder="StartDate" [(ngModel)]="coupon.startDate" name="startDate">
        <span *ngIf="startDateInfo.errors?.required && startDateInfo.touched">Missing StartDate</span>
        <span *ngIf="startDateInfo.errors?.pattern && startDateInfo.touched">Start Date must contain the following format: "yyyy-MM-dd" </span>
        <br><br>
         
        Format: "yyyy-MM-dd"<br>
        <input #endDateInfo="ngModel" required pattern="^(\d{1,4})-(\d{1,2})-(\d{1,2})$" type="text" placeholder="EndDate" [(ngModel)]="coupon.endDate" name="endDate">
        <span *ngIf="endDateInfo.errors?.required && endDateInfo.touched">Missing EndDate</span>
        <span *ngIf="endDateInfo.errors?.pattern && endDateInfo.touched">End Date must contain the following format: "yyyy-MM-dd"</span>
        <br><br>
    
        <input #amountInfo="ngModel" minlength="1" required min="1" type="number" placeholder="Amount" [(ngModel)]="coupon.amount" name="amount" oninput="validity.valid||(value='');">
        <span *ngIf="amountInfo.errors?.required && amountInfo.touched">Missing Amount</span>
        <!-- <span *ngIf="amountInfo.errors?.pattern && amountInfo.touched">Please, use digits only!</span> -->
        <br><br>

        <!-- CAPITAL LETTERS ONLY!<br>
        <input #typeInfo="ngModel" required pattern="^[A-Z].*[A-Z]$" type="text" placeholder="Type" [(ngModel)]="coupon.type" name="type">
        <span *ngIf="typeInfo.errors?.required && typeInfo.touched">Missing Type</span>
        <span *ngIf="typeInfo.errors?.pattern && typeInfo.touched">Type must have capital letters and contain minimum two letters!</span>
        <br><br> -->

        <label for id="type1">Choose Coupon Type: </label><br>
          <select #typeInfo="ngModel" required type="text" id="type" [(ngModel)]="coupon.type" name="type">
            <option selected disabled>Select Coupon Type</option>
            <option value="SPORTS">SPORTS</option>
            <option value="DRINKS">DRINKS</option>
            <option value="HEALTH">HEALTH</option>
            <option value="FOOD">FOOD</option>
            <option value="CAMPING">CAMPING</option>
            <option value="ELECTRICITY">ELECTRICITY</option>
            <option value="RESTAURANTS">RESTAURANTS</option>
            <option value="TRAVELING">TRAVELING</option>
          </select>
          <span *ngIf="typeInfo.errors?.required && typeInfo.touched">Missing Type</span>
          <br><br>
    
        <input #messageInfo="ngModel" required type="text" placeholder="Message" [(ngModel)]="coupon.message" name="message">
        <span *ngIf="messageInfo.invalid && messageInfo.touched">Missing Message</span>
        <br><br>
    
        <input #priceInfo="ngModel" required min="0" max="1000" type="number" placeholder="Price" [(ngModel)]="coupon.price" name="price" step="0.01" pattern="\d+(\.\d{1,2})?"> <!--pattern="[0-9]+(\.[0-9][0-9]?)?"-->
        <span *ngIf="priceInfo.errors?.required && priceInfo.touched">Missing Price</span>
        <span *ngIf="priceInfo.errors?.pattern && priceInfo.touched">Please, enter the correct price!</span>
        <br><br>
    
        <!-- <input #imageInfo="ngModel" required type="text" placeholder="Image" [(ngModel)]="coupon.image" name="image">
        <span *ngIf="imageInfo.errors?.required && imageInfo.touched">Missing Image</span>
        <br><br> -->
        
        <!-- Choose Image<br>
        <input #imageInfo="ngModel" type="file" required multiple [(ngModel)]="coupon.image" name="image">
        <span *ngIf="imageInfo.errors?.required && imageInfo.touched">Missing Image</span>
        <br><br> -->
    
        <button [disabled]="!formInfo.form.valid" (click)="addCoupon()">Add Coupon</button>
        <br><br>
        <button type="reset" class="button">Reset</button>
        <br><br>
        <button (click)="closeList()">Cancel! Back to Company</button>
        <br><br>
    
        <!-- <p>Id valid? {{idInfo.valid}}</p>
        <p>Title valid? {{titleInfo.valid}}</p>
        <p>StartDate valid? {{startDateInfo.valid}}</p>
        <p>EndDate valid? {{endDateInfo.valid}}</p>
        <p>Amount valid? {{amountInfo.valid}}</p>
        <p>Type valid? {{typeInfo.valid}}</p>
        <p>Message valid? {{messageInfo.valid}}</p>
        <p>Price valid? {{priceInfo.valid}}</p>
        <p>Image valid? {{imageInfo.valid}}</p>
        <p>Form valid? {{formInfo.form.valid}}</p> -->
        
    </form>
</div>