<!-- <p>view-customer works!</p> -->

<div>
    <form #formInfo="ngForm">
        <h3>Enter Customer ID to view this Customer</h3>
        
        <input #idInfo="ngModel" required min="0" step="1" type="number" placeholder="Customer ID" [(ngModel)]="customer.id" name="id" oninput="validity.valid||(value='');">
        <span *ngIf="idInfo.errors?.required && idInfo.touched">Missing Id</span>
        <!-- <span *ngIf="idInfo.errors?.pattern && idInfo.touched">Please, use digits only!</span> -->
        <br><br>

        <button [disabled]="!formInfo.form.valid" (click)="getCustomer()">View Customer</button>
        <br><br>
        <button [disabled]="!formInfo.form.valid" type="reset" class="button">Reset ID</button>
    </form>
    <p class="details">
        <h3>Id: {{customer.id}}</h3>
        <h3>Name: {{customer.name}}</h3>
        <h3>Password: {{customer.password}}</h3>
        <br>
        <h3><a routerLink="/admin">Close</a></h3>
</div>