<!-- <p>view-all-customers works!</p> -->

<div class="mainDiv">
    <img *ngIf="!customers" src="/assets/images/loadingGifTransparant1.gif">

    <div *ngIf="customers">
            <p>Filter by name:</p>
            <input type='text' [(ngModel)] = 'listFilter'>
            <h3>Filtered by: {{listFilter}}</h3>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Password</th>
            </tr>
            <tr *ngFor="let c of customers | customerFilter: listFilter">
                <td>{{c.id}}</td>
                <td>
                    <a routerLink="../view-all-customers/customer-details/{{c.id}}" routerLinkActive="active-link">
                        {{c.name}}
                    </a>
                </td>
                <td>{{c.password}}</td>
            </tr>
        </table>
    </div>
</div>
<router-outlet></router-outlet>