div {
    /* height: 100%; */
    /* width: 100%; */
    /* overflow: auto; */

    margin-top: 20px;
    border: 1px solid black;
    background-color: lightsteelblue;
    height: 70%;
    position: absolute;
    overflow: auto;
    top: 15%;
    left: 35%;
    width: 50%;
}
