<!-- <p>menu works!</p> -->

<div>
    <a routerLink="/home" routerLinkActive="active-link">Home</a>
    <a routerLink="/coupons" routerLinkActive="active-link">Coupons</a>
    <a routerLink="/customer" routerLinkActive="active-link">Customer</a>
    <a routerLink="/company" routerLinkActive="active-link">Company</a>
    <a routerLink="/admin" routerLinkActive="active-link">Admin</a>
    <a routerLink="/about" routerLinkActive="active-link">About</a>
    <br>
    <a routerLink="/add-coupon" routerLinkActive="active-link">Add Coupon</a>
</div>