<!-- <p>customer works!</p> -->

<div>
    <table>
        <tr>
            <th>Customer Operations</th>
        </tr>
        <tr><td><a [routerLink]="['purchase-coupon']" routerLinkActive="active-link">Purchase Coupon</a></td></tr>
        <tr><td><a [routerLink]="['view-all-purchased-coupons']" routerLinkActive="active-link">View All Purchased Coupons</a></td></tr>
        <tr><td><a [routerLink]="['view-all-purchased-coupons-by-type']" routerLinkActive="active-link">View All Purchased Coupons By Type</a></td></tr>
        <tr><td><a [routerLink]="['view-all-purchased-coupons-by-price']" routerLinkActive="active-link">View All Purchased Coupons By Price</a></td></tr>
        <tr><td><a [routerLink]="['view-customer-income']" routerLinkActive="active-link">View Customer Income</a></td></tr>
    </table>
</div>
<router-outlet></router-outlet>


<!-- <div class="mainDiv">
    <img *ngIf="!coupons" src="/assets/images/loadingGifTransparant1.gif">

    <div *ngIf="coupons">
            <p>Filter by type:</p>
            <input type='text' [(ngModel)] = 'listFilter'>
            <h3>Filtered by: {{listFilter}}</h3>
            <button class='btn' (click) = "toggleImage()" >
                {{showImage ? 'Hide': 'Show'}} Image
            </button>
        <table>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Message</th>
                <th>Price</th>
                <th *ngIf="showImage">Image</th>
            </tr>
            <tr *ngFor="let c of coupons | couponTypeFilter: listFilter">
                <td>{{c.id}}</td>
                <td>
                    <a routerLink="/coupon-details/{{c.id}}">
                        {{c.title}}
                    </a>
                </td>
                <td>{{c.startDate}}</td>
                <td>{{c.endDate}}</td>
                <td>{{c.amount}}</td>
                <td>{{c.type}}</td>
                <td>{{c.message}}</td>
                <td>{{c.price}}</td>
                <td *ngIf="showImage">
                    <app-thumbnail imageSource="/assets/images/coupons/{{c.title}}.jpg"></app-thumbnail>
                </td>
            </tr>
        </table>
    </div>
</div> -->