a {
    font-size: large;
    color: green;
    margin: 8px;
    display: block;
    text-decoration: none;
    display: inline-block;
    
    /* text-align: left; */
}

a:visited {
    color: blue /* Цвет посещённой ссылки */
   } 
a:hover {
    color: blue; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
   }

.active-link {
    color: indigo;
    font-weight: bold;
}

div {
    height: 100%;
    overflow: auto;
    position: relative;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: yellowgreen;
}









/* table {
    margin: 30px auto;
}

table, th, td {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: lightskyblue;
}

tr:nth-child(odd) {
    background-color: plum;
}

div {
    height: 100%;
    overflow: auto;
}

.mainDiv{
    margin-top: 20px;
    border: 1px solid black;
    background-color: lightsteelblue;
    height: 70%;
    position: absolute;
    overflow: auto;
    top: 15%;
    left: 35%;
    width: 50%;
}

a {
    font-size: large;
}

.active-link {
    color: indigo;
    font-weight: bold;
}

.btn {
    font-size: large;
} */