a {
    font-size: large;
    color: green;
    margin: 8px;
    display: block;
    text-decoration: none;
    display: inline-block;
    
    /* text-align: left; */
}

a:visited {
    color: blue /* Цвет посещённой ссылки */
   } 
a:hover {
    color: blue; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
   }

.active-link {
    color: indigo;
    font-weight: bold;
}

div {
    height: 100%;
    overflow: auto;
    position: relative;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: yellowgreen;
}