<!-- <p>view-all-companies works!</p> -->

<div class="mainDiv">
    <img *ngIf="!companies" src="/assets/images/loadingGifTransparant1.gif">

    <div *ngIf="companies">
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Password</th>
                <th>Email</th>
            </tr>
            <tr *ngFor="let c of companies">
                <td>{{c.id}}</td>
                <td>
                    <a routerLink="../view-all-companies/company-details/{{c.id}}" routerLinkActive="active-link">
                        {{c.name}}
                    </a>
                </td>
                <td>{{c.password}}</td>
                <td>{{c.email}}</td>
            </tr>
        </table>
    </div>
</div>
<router-outlet></router-outlet>